cdk/template.yaml
Resources:
  sftpBucketDevB6F72079:
    Type: AWS::S3::Bucket
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: StepsStackDevelop/sftpBucketDev/Resource
  sftpBucketDevNotificationsBDA72764:
    Type: Custom::S3BucketNotifications
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - BucketNotificationsHandler050a0587b7544547bf325f094a3db8347ECC3691
          - Arn
      BucketName:
        Ref: sftpBucketDevB6F72079
      NotificationConfiguration:
        LambdaFunctionConfigurations:
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: .xml
                  - Name: prefix
                    Value: incoming/
            LambdaFunctionArn:
              Fn::GetAtt:
                - XmlImport7060CAE3
                - Arn
    DependsOn:
      - sftpBucketDevAllowBucketNotificationsToStepsStackDevelopXmlImportDA9CF5BCC39EEA5C
    Metadata:
      aws:cdk:path: StepsStackDevelop/sftpBucketDev/Notifications/Resource
  sftpBucketDevAllowBucketNotificationsToStepsStackDevelopXmlImportDA9CF5BCC39EEA5C:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - XmlImport7060CAE3
          - Arn
      Principal: s3.amazonaws.com
      SourceAccount: "669031476932"
      SourceArn:
        Fn::GetAtt:
          - sftpBucketDevB6F72079
          - Arn
    Metadata:
      aws:cdk:path: StepsStackDevelop/sftpBucketDev/AllowBucketNotificationsToStepsStackDevelopXmlImportDA9CF5BC
  HelperLayer49ADCD6B:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeS3BucketFF9AA894
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeS3VersionKeyF8E0B59A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeS3VersionKeyF8E0B59A
      CompatibleRuntimes:
        - python3.8
      Description: Helper layer.
      LicenseInfo: Apache-2.0
    Metadata:
      aws:cdk:path: StepsStackDevelop/HelperLayer/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/layer/helper
      aws:asset:property: Content
  TextractorAF6C0D19:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebS3Bucket7C97087A
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebS3VersionKey47E8C3F7
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebS3VersionKey47E8C3F7
      CompatibleRuntimes:
        - python3.8
      Description: Textractor layer.
      LicenseInfo: Apache-2.0
    Metadata:
      aws:cdk:path: StepsStackDevelop/Textractor/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/layer/textractor
      aws:asset:property: Content
  PythonModulesB348BFA8:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fS3BucketFB1CFDA7
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fS3VersionKey1EB1241A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fS3VersionKey1EB1241A
      CompatibleRuntimes:
        - python3.8
      Description: Pipenv-installed pypi modules layer.
      LicenseInfo: Apache-2.0, MIT
    Metadata:
      aws:cdk:path: StepsStackDevelop/PythonModules/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/layer/pipenv
      aws:asset:property: Content
  NodeLib31443945:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249S3BucketC7AC0BC1
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249S3VersionKey7970993E
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249S3VersionKey7970993E
      CompatibleRuntimes:
        - nodejs12.x
      Description: Old backend and dependencies layer.
      LicenseInfo: Apache-2.0, MIT
    Metadata:
      aws:cdk:path: StepsStackDevelop/NodeLib/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/layer/npm
      aws:asset:property: Content
  DeepblooLibA03D8694:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Content:
        S3Bucket:
          Ref: AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7S3BucketBF924723
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7S3VersionKey5ABF5456
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7S3VersionKey5ABF5456
      CompatibleRuntimes:
        - nodejs12.x
      Description: Deepbloo lib layer.
      LicenseInfo: Private, Unlicensed
    Metadata:
      aws:cdk:path: StepsStackDevelop/DeepblooLib/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/layer/deepbloo
      aws:asset:property: Content
  convertTenderServiceRole8EBD11C4:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/convertTender/ServiceRole/Resource
  convertTender583327CB:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0S3Bucket0D0BD702
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0S3VersionKey2C38AC1D
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0S3VersionKey2C38AC1D
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - convertTenderServiceRole8EBD11C4
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 20
      Timeout: 50
    DependsOn:
      - convertTenderServiceRole8EBD11C4
    Metadata:
      aws:cdk:path: StepsStackDevelop/convertTender/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepTenderConvert
      aws:asset:property: Code
  analyzeTenderServiceRole0C110259:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/analyzeTender/ServiceRole/Resource
  analyzeTenderServiceRoleDefaultPolicy10AB8514:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
        Version: "2012-10-17"
      PolicyName: analyzeTenderServiceRoleDefaultPolicy10AB8514
      Roles:
        - Ref: analyzeTenderServiceRole0C110259
    Metadata:
      aws:cdk:path: StepsStackDevelop/analyzeTender/ServiceRole/DefaultPolicy/Resource
  analyzeTenderSecurityGroup31D81B67:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Automatic security group for Lambda Function StepsStackDevelopanalyzeTender5D4531E2
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: Allow all outbound traffic by default
          IpProtocol: "-1"
      VpcId: vpc-f7456f91
    Metadata:
      aws:cdk:path: StepsStackDevelop/analyzeTender/SecurityGroup/Resource
  analyzeTender89FB512C:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcS3BucketF4693087
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcS3VersionKey7BD445C3
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcS3VersionKey7BD445C3
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - analyzeTenderServiceRole0C110259
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          DB_HOST: serverless-test.cluster-cxvdonhye3yz.eu-west-1.rds.amazonaws.com
          DB_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 20
      Timeout: 60
      VpcConfig:
        SecurityGroupIds:
          - Fn::GetAtt:
              - analyzeTenderSecurityGroup31D81B67
              - GroupId
        SubnetIds:
          - subnet-0d44e4d2296bfd59f
          - subnet-0530f274ce7351e90
          - subnet-0530f274ce7351e90
    DependsOn:
      - analyzeTenderServiceRoleDefaultPolicy10AB8514
      - analyzeTenderServiceRole0C110259
    Metadata:
      aws:cdk:path: StepsStackDevelop/analyzeTender/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepTenderAnalyze
      aws:asset:property: Code
  storeTenderServiceRoleF64945CB:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/storeTender/ServiceRole/Resource
  storeTenderServiceRoleDefaultPolicy32027DCA:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
        Version: "2012-10-17"
      PolicyName: storeTenderServiceRoleDefaultPolicy32027DCA
      Roles:
        - Ref: storeTenderServiceRoleF64945CB
    Metadata:
      aws:cdk:path: StepsStackDevelop/storeTender/ServiceRole/DefaultPolicy/Resource
  storeTenderSecurityGroup6A090C37:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Automatic security group for Lambda Function StepsStackDevelopstoreTender6BFB6BFE
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: Allow all outbound traffic by default
          IpProtocol: "-1"
      VpcId: vpc-f7456f91
    Metadata:
      aws:cdk:path: StepsStackDevelop/storeTender/SecurityGroup/Resource
  storeTender10D4B8C7:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2S3Bucket1083E878
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2S3VersionKey94A05CA6
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2S3VersionKey94A05CA6
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - storeTenderServiceRoleF64945CB
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          DB_HOST: serverless-test.cluster-cxvdonhye3yz.eu-west-1.rds.amazonaws.com
          DB_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 20
      Timeout: 50
      VpcConfig:
        SecurityGroupIds:
          - Fn::GetAtt:
              - storeTenderSecurityGroup6A090C37
              - GroupId
        SubnetIds:
          - subnet-0d44e4d2296bfd59f
          - subnet-0530f274ce7351e90
          - subnet-0530f274ce7351e90
    DependsOn:
      - storeTenderServiceRoleDefaultPolicy32027DCA
      - storeTenderServiceRoleF64945CB
    Metadata:
      aws:cdk:path: StepsStackDevelop/storeTender/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepTenderStore
      aws:asset:property: Code
  mergeTenderServiceRoleAC359CD2:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/mergeTender/ServiceRole/Resource
  mergeTenderServiceRoleDefaultPolicyDC1AF44E:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
        Version: "2012-10-17"
      PolicyName: mergeTenderServiceRoleDefaultPolicyDC1AF44E
      Roles:
        - Ref: mergeTenderServiceRoleAC359CD2
    Metadata:
      aws:cdk:path: StepsStackDevelop/mergeTender/ServiceRole/DefaultPolicy/Resource
  mergeTenderSecurityGroup34288482:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Automatic security group for Lambda Function StepsStackDevelopmergeTender276CB9D7
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: Allow all outbound traffic by default
          IpProtocol: "-1"
      VpcId: vpc-f7456f91
    Metadata:
      aws:cdk:path: StepsStackDevelop/mergeTender/SecurityGroup/Resource
  mergeTender1BAAF0E8:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4S3Bucket41A16520
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4S3VersionKey7E2DF1EC
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4S3VersionKey7E2DF1EC
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - mergeTenderServiceRoleAC359CD2
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          DB_HOST: serverless-test.cluster-cxvdonhye3yz.eu-west-1.rds.amazonaws.com
          DB_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 20
      Timeout: 60
      VpcConfig:
        SecurityGroupIds:
          - Fn::GetAtt:
              - mergeTenderSecurityGroup34288482
              - GroupId
        SubnetIds:
          - subnet-0d44e4d2296bfd59f
          - subnet-0530f274ce7351e90
          - subnet-0530f274ce7351e90
    DependsOn:
      - mergeTenderServiceRoleDefaultPolicyDC1AF44E
      - mergeTenderServiceRoleAC359CD2
    Metadata:
      aws:cdk:path: StepsStackDevelop/mergeTender/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepTenderMerge
      aws:asset:property: Code
  stepTenderIndexServiceRoleB1FE0233:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/stepTenderIndex/ServiceRole/Resource
  stepTenderIndexServiceRoleDefaultPolicyD2F48361:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:appsearch-TZnQcu
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:elastic-fnVFZr
        Version: "2012-10-17"
      PolicyName: stepTenderIndexServiceRoleDefaultPolicyD2F48361
      Roles:
        - Ref: stepTenderIndexServiceRoleB1FE0233
    Metadata:
      aws:cdk:path: StepsStackDevelop/stepTenderIndex/ServiceRole/DefaultPolicy/Resource
  stepTenderIndex73A219F0:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dS3Bucket4FBEFB01
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dS3VersionKey5AA84F48
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dS3VersionKey5AA84F48
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - stepTenderIndexServiceRoleB1FE0233
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          APPSEARCH_ENDPOINT: https://7bbe91f62e1e4ff6b41e5ee2fba2cdbd.app-search.eu-west-1.aws.found.io/
          APPSEARCH_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:appsearch-TZnQcu
          ELASTIC_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:elastic-fnVFZr
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 20
      Timeout: 60
    DependsOn:
      - stepTenderIndexServiceRoleDefaultPolicyD2F48361
      - stepTenderIndexServiceRoleB1FE0233
    Metadata:
      aws:cdk:path: StepsStackDevelop/stepTenderIndex/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepTenderIndex
      aws:asset:property: Code
  downloadDocumentServiceRole859B0E4E:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/downloadDocument/ServiceRole/Resource
  downloadDocumentServiceRoleDefaultPolicy75246332:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Effect: Allow
            Resource: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj/*
        Version: "2012-10-17"
      PolicyName: downloadDocumentServiceRoleDefaultPolicy75246332
      Roles:
        - Ref: downloadDocumentServiceRole859B0E4E
    Metadata:
      aws:cdk:path: StepsStackDevelop/downloadDocument/ServiceRole/DefaultPolicy/Resource
  downloadDocumentSecurityGroupB25C6A5A:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Automatic security group for Lambda Function StepsStackDevelopdownloadDocument12480274
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: Allow all outbound traffic by default
          IpProtocol: "-1"
      VpcId: vpc-f7456f91
    Metadata:
      aws:cdk:path: StepsStackDevelop/downloadDocument/SecurityGroup/Resource
  downloadDocument5186B68B:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55S3Bucket5B1C9197
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55S3VersionKey49B1D922
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55S3VersionKey49B1D922
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - downloadDocumentServiceRole859B0E4E
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          DB_HOST: serverless-test.cluster-cxvdonhye3yz.eu-west-1.rds.amazonaws.com
          DB_SECRET: arn:aws:secretsmanager:eu-west-1:669031476932:secret:aurora-creds-faJRvx
          DOCUMENTS_BUCKET: textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 40
      Timeout: 60
      VpcConfig:
        SecurityGroupIds:
          - Fn::GetAtt:
              - downloadDocumentSecurityGroupB25C6A5A
              - GroupId
        SubnetIds:
          - subnet-0d44e4d2296bfd59f
          - subnet-0530f274ce7351e90
          - subnet-0530f274ce7351e90
    DependsOn:
      - downloadDocumentServiceRoleDefaultPolicy75246332
      - downloadDocumentServiceRole859B0E4E
    Metadata:
      aws:cdk:path: StepsStackDevelop/downloadDocument/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/stepDocumentDownload
      aws:asset:property: Code
  PdfToImgServiceRoleA7C25CA7:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToImg/ServiceRole/Resource
  PdfToImgServiceRoleDefaultPolicy35B13BE8:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj/*
        Version: "2012-10-17"
      PolicyName: PdfToImgServiceRoleDefaultPolicy35B13BE8
      Roles:
        - Ref: PdfToImgServiceRoleA7C25CA7
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToImg/ServiceRole/DefaultPolicy/Resource
  PdfToImgA7039066:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157S3Bucket33A255BF
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157S3VersionKeyCB11BDBD
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157S3VersionKeyCB11BDBD
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - PdfToImgServiceRoleA7C25CA7
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          DOCUMENTS_BUCKET: textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      ReservedConcurrentExecutions: 40
      Timeout: 60
    DependsOn:
      - PdfToImgServiceRoleDefaultPolicy35B13BE8
      - PdfToImgServiceRoleA7C25CA7
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToImg/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/pdftoimg
      aws:asset:property: Code
  PdfToBoxesServiceRole5BEA6A20:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToBoxes/ServiceRole/Resource
  PdfToBoxesServiceRoleDefaultPolicy2BAE8B99:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj/*
        Version: "2012-10-17"
      PolicyName: PdfToBoxesServiceRoleDefaultPolicy2BAE8B99
      Roles:
        - Ref: PdfToBoxesServiceRole5BEA6A20
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToBoxes/ServiceRole/DefaultPolicy/Resource
  PdfToBoxesB0ED60E6:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bS3Bucket5DC2023B
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bS3VersionKeyC5C8C824
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bS3VersionKeyC5C8C824
      Handler: lambda_function.lambda_handler
      Role:
        Fn::GetAtt:
          - PdfToBoxesServiceRole5BEA6A20
          - Arn
      Runtime: python3.8
      Environment:
        Variables:
          DOCUMENTS_BUCKET: textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
          TEXTRACT_ONLY: "false"
          MIN_CHAR_NEEDED: "10"
      Layers:
        - Ref: PythonModulesB348BFA8
        - Ref: HelperLayer49ADCD6B
      MemorySize: 500
      ReservedConcurrentExecutions: 40
      Timeout: 60
    DependsOn:
      - PdfToBoxesServiceRoleDefaultPolicy2BAE8B99
      - PdfToBoxesServiceRole5BEA6A20
    Metadata:
      aws:cdk:path: StepsStackDevelop/PdfToBoxes/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/pdftobboxtext
      aws:asset:property: Code
  HtmlToPdfServiceRoleAAEF8033:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/HtmlToPdf/ServiceRole/Resource
  HtmlToPdfServiceRoleDefaultPolicyEA09802C:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj/*
        Version: "2012-10-17"
      PolicyName: HtmlToPdfServiceRoleDefaultPolicyEA09802C
      Roles:
        - Ref: HtmlToPdfServiceRoleAAEF8033
    Metadata:
      aws:cdk:path: StepsStackDevelop/HtmlToPdf/ServiceRole/DefaultPolicy/Resource
  HtmlToPdf7A47F0F9:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fS3Bucket323C4FA3
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fS3VersionKeyE80844A2
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fS3VersionKeyE80844A2
      Handler: lambda_function.lambda_handler
      Role:
        Fn::GetAtt:
          - HtmlToPdfServiceRoleAAEF8033
          - Arn
      Runtime: python3.8
      Environment:
        Variables:
          DOCUMENTS_BUCKET: textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
      Layers:
        - Ref: PythonModulesB348BFA8
        - Ref: HelperLayer49ADCD6B
      MemorySize: 500
      ReservedConcurrentExecutions: 40
      Timeout: 60
    DependsOn:
      - HtmlToPdfServiceRoleDefaultPolicyEA09802C
      - HtmlToPdfServiceRoleAAEF8033
    Metadata:
      aws:cdk:path: StepsStackDevelop/HtmlToPdf/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/htmltoboundingbox
      aws:asset:property: Code
  ZipExtractionServiceRole2ECECD07:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/ZipExtraction/ServiceRole/Resource
  ZipExtractionServiceRoleDefaultPolicy978DF241:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
              - arn:aws:s3:::textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj/*
        Version: "2012-10-17"
      PolicyName: ZipExtractionServiceRoleDefaultPolicy978DF241
      Roles:
        - Ref: ZipExtractionServiceRole2ECECD07
    Metadata:
      aws:cdk:path: StepsStackDevelop/ZipExtraction/ServiceRole/DefaultPolicy/Resource
  ZipExtraction42B8702F:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5S3Bucket9E4E501B
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5S3VersionKey643EF94D
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5S3VersionKey643EF94D
      Handler: lambda_function.lambda_handler
      Role:
        Fn::GetAtt:
          - ZipExtractionServiceRole2ECECD07
          - Arn
      Runtime: python3.8
      Environment:
        Variables:
          DOCUMENTS_BUCKET: textractpipelinestack-documentsbucket9ec9deb9-mla8aarhzynj
      Layers:
        - Ref: PythonModulesB348BFA8
        - Ref: HelperLayer49ADCD6B
      MemorySize: 500
      ReservedConcurrentExecutions: 40
      Timeout: 60
    DependsOn:
      - ZipExtractionServiceRoleDefaultPolicy978DF241
      - ZipExtractionServiceRole2ECECD07
    Metadata:
      aws:cdk:path: StepsStackDevelop/ZipExtraction/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/zipExtraction
      aws:asset:property: Code
  MyLogGroup5C0DAD85:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 731
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: StepsStackDevelop/MyLogGroup/Resource
  StateMachineRoleB840431D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: states.eu-west-1.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: StepsStackDevelop/StateMachine/Role/Resource
  StateMachineRoleDefaultPolicyDF1E6607:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Effect: Allow
            Resource: "*"
          - Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
            Effect: Allow
            Resource: "*"
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - convertTender583327CB
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - analyzeTender89FB512C
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - storeTender10D4B8C7
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - mergeTender1BAAF0E8
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - stepTenderIndex73A219F0
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - downloadDocument5186B68B
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - HtmlToPdf7A47F0F9
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - PdfToImgA7039066
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - PdfToBoxesB0ED60E6
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - ZipExtraction42B8702F
                - Arn
        Version: "2012-10-17"
      PolicyName: StateMachineRoleDefaultPolicyDF1E6607
      Roles:
        - Ref: StateMachineRoleB840431D
    Metadata:
      aws:cdk:path: StepsStackDevelop/StateMachine/Role/DefaultPolicy/Resource
  StateMachine2E01A3A5:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - StateMachineRoleB840431D
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"Tender Conversion Task","States":{"Tender Conversion Task":{"Next":"Tender Analyze Task","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.ALL"],"IntervalSeconds":3,"MaxAttempts":4,"BackoffRate":3}],"Type":"Task","InputPath":"$.tenderData","ResultPath":"$.convertedData","Resource":"'
            - Fn::GetAtt:
                - convertTender583327CB
                - Arn
            - '"},"Tender Analyze Task":{"Next":"Has interest ?","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","Resource":"'
            - Fn::GetAtt:
                - analyzeTender89FB512C
                - Arn
            - '"},"Has interest ?":{"Type":"Choice","Choices":[{"Variable":"$.formatedData.status","NumericLessThan":20,"Next":"No interest"}],"Default":"Tender Store Task"},"Tender Store Task":{"Next":"Tender Merge Task","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":"$.storedData","Resource":"'
            - Fn::GetAtt:
                - storeTender10D4B8C7
                - Arn
            - '"},"Tender Merge Task":{"Next":"Appsearch Index Task","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":"$.mergedData","Resource":"'
            - Fn::GetAtt:
                - mergeTender1BAAF0E8
                - Arn
            - '"},"Appsearch Index Task":{"Next":"Has documents ?","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2},{"ErrorEquals":["States.ALL"],"IntervalSeconds":3,"MaxAttempts":4,"BackoffRate":3}],"Type":"Task","ResultPath":"$.appsearchResult","Resource":"'
            - Fn::GetAtt:
                - stepTenderIndex73A219F0
                - Arn
            - '"},"Has documents ?":{"Type":"Choice","Choices":[{"Variable":"$.mergedData.hasDocuments","BooleanEquals":true,"Next":"Document Map"}],"Default":"Completed"},"Completed":{"Type":"Succeed","Comment":"Tender fully available"},"Document Map":{"Type":"Map","ResultPath":"$.downloadedData","Next":"Completed","InputPath":"$.mergedData","Iterator":{"StartAt":"Download Task","States":{"Download Task":{"Next":"Document type ?","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Catch":[{"ErrorEquals":["States.ALL"],"Next":"documentFail"}],"Type":"Task","ResultPath":"$.document","Resource":"'
            - Fn::GetAtt:
                - downloadDocument5186B68B
                - Arn
            - '"},"Document type ?":{"Type":"Choice","Choices":[{"Variable":"$.document.contentType","StringEquals":"text/html","Next":"Html To Pdf"},{"Or":[{"Variable":"$.document.contentType","StringEquals":"image/png"},{"Variable":"$.document.contentType","StringEquals":"image/jpeg"}],"Next":"Img process"},{"Variable":"$.document.contentType","StringEquals":"application/pdf","Next":"Pdf process"},{"Variable":"$.document.contentType","StringEquals":"application/msword","Next":"Doc--docx process"},{"Variable":"$.document.contentType","StringEquals":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","Next":"Docx process"},{"Variable":"$.document.contentType","StringEquals":"application/zip","Next":"Zip process"}],"Default":"Document type unknown"},"Document type unknown":{"Type":"Pass","End":true},"Html To Pdf":{"Next":"Pdf process","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.document","ResultPath":"$.document","Resource":"'
            - Fn::GetAtt:
                - HtmlToPdf7A47F0F9
                - Arn
            - '"},"Pdf process":{"Type":"Parallel","End":true,"Branches":[{"StartAt":"Pdf to Image","States":{"Pdf to Image":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.document","ResultPath":"$.pdf2img","Resource":"'
            - Fn::GetAtt:
                - PdfToImgA7039066
                - Arn
            - '"}}},{"StartAt":"Pdf to Boxes","States":{"Pdf to Boxes":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.document","ResultPath":"$.pdf2bbox","Resource":"'
            - Fn::GetAtt:
                - PdfToBoxesB0ED60E6
                - Arn
            - '"}}}]},"Img process":{"Type":"Pass","End":true},"Doc--docx process":{"Type":"Pass","End":true},"Docx process":{"Type":"Pass","End":true},"Zip process":{"Type":"Parallel","End":true,"Branches":[{"StartAt":"Zip Extraction","States":{"Zip Extraction":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$.document","ResultPath":"$.document","Resource":"'
            - Fn::GetAtt:
                - ZipExtraction42B8702F
                - Arn
            - '"}}}]},"documentFail":{"Type":"Fail","Error":"WorkflowFailure","Cause":"Download task failed"}}},"ItemsPath":"$.newSourceUrls","MaxConcurrency":2},"No interest":{"Type":"Succeed","Comment":"e.g. tender has no CPV match"}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - MyLogGroup5C0DAD85
                  - Arn
        Level: ERROR
      TracingConfiguration:
        Enabled: true
    DependsOn:
      - StateMachineRoleDefaultPolicyDF1E6607
      - StateMachineRoleB840431D
    Metadata:
      aws:cdk:path: StepsStackDevelop/StateMachine/Resource
  XmlImportServiceRoleE80075B4:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/XmlImport/ServiceRole/Resource
  XmlImportServiceRoleDefaultPolicy152BF4B8:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject*
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
              - s3:PutObject*
              - s3:Abort*
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - sftpBucketDevB6F72079
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - sftpBucketDevB6F72079
                        - Arn
                    - /*
          - Action: states:StartExecution
            Effect: Allow
            Resource:
              Ref: StateMachine2E01A3A5
        Version: "2012-10-17"
      PolicyName: XmlImportServiceRoleDefaultPolicy152BF4B8
      Roles:
        - Ref: XmlImportServiceRoleE80075B4
    Metadata:
      aws:cdk:path: StepsStackDevelop/XmlImport/ServiceRole/DefaultPolicy/Resource
  XmlImport7060CAE3:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022S3BucketBF5459F1
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022S3VersionKey4197D9D7
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022S3VersionKey4197D9D7
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - XmlImportServiceRoleE80075B4
          - Arn
      Runtime: nodejs12.x
      Environment:
        Variables:
          NODE_ENV: dev
          TENDER_STATE_MACHINE_ARN:
            Ref: StateMachine2E01A3A5
      Layers:
        - Ref: NodeLib31443945
        - Ref: DeepblooLibA03D8694
      MemorySize: 500
      Timeout: 50
    DependsOn:
      - XmlImportServiceRoleDefaultPolicy152BF4B8
      - XmlImportServiceRoleE80075B4
    Metadata:
      aws:cdk:path: StepsStackDevelop/XmlImport/Resource
      aws:asset:path: /Users/valentin/delivery/deepbloo/deepbloo-document-process/lambda/function/xmlimport
      aws:asset:property: Code
  BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: StepsStackDevelop/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/Resource
  BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: s3:PutBucketNotification
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36
      Roles:
        - Ref: BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
    Metadata:
      aws:cdk:path: StepsStackDevelop/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/DefaultPolicy/Resource
  BucketNotificationsHandler050a0587b7544547bf325f094a3db8347ECC3691:
    Type: AWS::Lambda::Function
    Properties:
      Description: AWS CloudFormation handler for "Custom::S3BucketNotifications" resources (@aws-cdk/aws-s3)
      Code:
        ZipFile: >-
          exports.handler = (event, context) => {
              // eslint-disable-next-line @typescript-eslint/no-require-imports, import/no-extraneous-dependencies
              const s3 = new (require('aws-sdk').S3)();
              // eslint-disable-next-line @typescript-eslint/no-require-imports
              const https = require('https');
              // eslint-disable-next-line @typescript-eslint/no-require-imports
              const url = require('url');
              log(JSON.stringify(event, undefined, 2));
              const props = event.ResourceProperties;
              if (event.RequestType === 'Delete') {
                  props.NotificationConfiguration = {}; // this is how you clean out notifications
              }
              const req = {
                  Bucket: props.BucketName,
                  NotificationConfiguration: props.NotificationConfiguration,
              };
              return s3.putBucketNotificationConfiguration(req, (err, data) => {
                  log({ err, data });
                  if (err) {
                      return submitResponse('FAILED', err.message + `\nMore information in CloudWatch Log Stream: ${context.logStreamName}`);
                  }
                  else {
                      return submitResponse('SUCCESS');
                  }
              });
              function log(obj) {
                  console.error(event.RequestId, event.StackId, event.LogicalResourceId, obj);
              }
              // eslint-disable-next-line max-len
              // adapted from https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-function-code.html#cfn-lambda-function-code-cfnresponsemodule
              // to allow sending an error messge as a reason.
              function submitResponse(responseStatus, reason) {
                  const responseBody = JSON.stringify({
                      Status: responseStatus,
                      Reason: reason || 'See the details in CloudWatch Log Stream: ' + context.logStreamName,
                      PhysicalResourceId: event.PhysicalResourceId || event.LogicalResourceId,
                      StackId: event.StackId,
                      RequestId: event.RequestId,
                      LogicalResourceId: event.LogicalResourceId,
                      NoEcho: false,
                  });
                  log({ responseBody });
                  const parsedUrl = url.parse(event.ResponseURL);
                  const options = {
                      hostname: parsedUrl.hostname,
                      port: 443,
                      path: parsedUrl.path,
                      method: 'PUT',
                      headers: {
                          'content-type': '',
                          'content-length': responseBody.length,
                      },
                  };
                  const request = https.request(options, (r) => {
                      log({ statusCode: r.statusCode, statusMessage: r.statusMessage });
                      context.done();
                  });
                  request.on('error', (error) => {
                      log({ sendError: error });
                      context.done();
                  });
                  request.write(responseBody);
                  request.end();
              }
          };
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
          - Arn
      Runtime: nodejs10.x
      Timeout: 300
    DependsOn:
      - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36
      - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
    Metadata:
      aws:cdk:path: StepsStackDevelop/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Modules: aws-cdk=1.78.0,@aws-cdk/assets=1.80.0,@aws-cdk/aws-apigateway=1.80.0,@aws-cdk/aws-applicationautoscaling=1.80.0,@aws-cdk/aws-appsync=1.80.0,@aws-cdk/aws-autoscaling=1.80.0,@aws-cdk/aws-autoscaling-common=1.80.0,@aws-cdk/aws-autoscaling-hooktargets=1.80.0,@aws-cdk/aws-cloudwatch=1.80.0,@aws-cdk/aws-codebuild=1.80.0,@aws-cdk/aws-codeguruprofiler=1.80.0,@aws-cdk/aws-cognito=1.80.0,@aws-cdk/aws-dynamodb=1.80.0,@aws-cdk/aws-ec2=1.80.0,@aws-cdk/aws-ecr=1.80.0,@aws-cdk/aws-ecr-assets=1.80.0,@aws-cdk/aws-ecs=1.80.0,@aws-cdk/aws-elasticloadbalancingv2=1.80.0,@aws-cdk/aws-events=1.80.0,@aws-cdk/aws-iam=1.80.0,@aws-cdk/aws-kms=1.80.0,@aws-cdk/aws-lambda=1.80.0,@aws-cdk/aws-lambda-event-sources=1.80.0,@aws-cdk/aws-logs=1.80.0,@aws-cdk/aws-s3=1.80.0,@aws-cdk/aws-s3-assets=1.80.0,@aws-cdk/aws-s3-notifications=1.80.0,@aws-cdk/aws-sam=1.80.0,@aws-cdk/aws-secretsmanager=1.80.0,@aws-cdk/aws-servicediscovery=1.80.0,@aws-cdk/aws-sns=1.80.0,@aws-cdk/aws-sns-subscriptions=1.80.0,@aws-cdk/aws-sqs=1.80.0,@aws-cdk/aws-ssm=1.80.0,@aws-cdk/aws-stepfunctions=1.80.0,@aws-cdk/aws-stepfunctions-tasks=1.80.0,@aws-cdk/cloud-assembly-schema=1.80.0,@aws-cdk/core=1.80.0,@aws-cdk/custom-resources=1.80.0,@aws-cdk/cx-api=1.80.0,@aws-cdk/region-info=1.80.0,jsii-runtime=node.js/v12.18.2
    Metadata:
      aws:cdk:path: StepsStackDevelop/CDKMetadata/Default
Parameters:
  AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeS3BucketFF9AA894:
    Type: String
    Description: S3 bucket for asset "f8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6ae"
  AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeS3VersionKeyF8E0B59A:
    Type: String
    Description: S3 key for asset version "f8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6ae"
  AssetParametersf8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6aeArtifactHashC2E4FCD9:
    Type: String
    Description: Artifact hash for asset "f8a78235147cb5f7c062ec8d4a8e132c78489639981f46559fd4c4758e45f6ae"
  AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebS3Bucket7C97087A:
    Type: String
    Description: S3 bucket for asset "349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599beb"
  AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebS3VersionKey47E8C3F7:
    Type: String
    Description: S3 key for asset version "349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599beb"
  AssetParameters349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599bebArtifactHashC17910DD:
    Type: String
    Description: Artifact hash for asset "349d9bd70a97da3cd6f07aab16fb03d734b5c5bb56e4711a1f6c61a8f8599beb"
  AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fS3BucketFB1CFDA7:
    Type: String
    Description: S3 bucket for asset "7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8f"
  AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fS3VersionKey1EB1241A:
    Type: String
    Description: S3 key for asset version "7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8f"
  AssetParameters7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8fArtifactHash65DFA0B5:
    Type: String
    Description: Artifact hash for asset "7111cd3ed6d68c6d73f983a2c7f73b36b9e2430395c3bbd507006e5ab502bf8f"
  AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249S3BucketC7AC0BC1:
    Type: String
    Description: S3 bucket for asset "bafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249"
  AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249S3VersionKey7970993E:
    Type: String
    Description: S3 key for asset version "bafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249"
  AssetParametersbafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249ArtifactHash94A3F07B:
    Type: String
    Description: Artifact hash for asset "bafa93bdf869c3e15e70f625459024a36d019337a84f0cb4090f8e54579a5249"
  AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7S3BucketBF924723:
    Type: String
    Description: S3 bucket for asset "475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7"
  AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7S3VersionKey5ABF5456:
    Type: String
    Description: S3 key for asset version "475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7"
  AssetParameters475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7ArtifactHash52266C5F:
    Type: String
    Description: Artifact hash for asset "475ae1c966dba0e326bdf2cc3468235495215c381432d838828b60be0c2fc7f7"
  AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0S3Bucket0D0BD702:
    Type: String
    Description: S3 bucket for asset "eb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0"
  AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0S3VersionKey2C38AC1D:
    Type: String
    Description: S3 key for asset version "eb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0"
  AssetParameterseb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0ArtifactHash6B9467EE:
    Type: String
    Description: Artifact hash for asset "eb9afb873f9c110615845d3a1ae5566919eb7e1befa2f730e3abe8e0549d4bf0"
  AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcS3BucketF4693087:
    Type: String
    Description: S3 bucket for asset "6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dc"
  AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcS3VersionKey7BD445C3:
    Type: String
    Description: S3 key for asset version "6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dc"
  AssetParameters6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dcArtifactHash76C2D18C:
    Type: String
    Description: Artifact hash for asset "6e41c58b64bb4cd3074df498a244718425813f5df3b88c702e178e8e95e938dc"
  AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2S3Bucket1083E878:
    Type: String
    Description: S3 bucket for asset "d3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2"
  AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2S3VersionKey94A05CA6:
    Type: String
    Description: S3 key for asset version "d3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2"
  AssetParametersd3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2ArtifactHash10539E6B:
    Type: String
    Description: Artifact hash for asset "d3a196f0487c3412bf457e07ed4b0647217779a4e86fd6793178aeda8fdc2ac2"
  AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4S3Bucket41A16520:
    Type: String
    Description: S3 bucket for asset "0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4"
  AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4S3VersionKey7E2DF1EC:
    Type: String
    Description: S3 key for asset version "0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4"
  AssetParameters0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4ArtifactHash4D396D96:
    Type: String
    Description: Artifact hash for asset "0560ae42c1753519f84db604dd10bf38d30b3d98a3e829c95f26ed57498b86a4"
  AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dS3Bucket4FBEFB01:
    Type: String
    Description: S3 bucket for asset "a53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3d"
  AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dS3VersionKey5AA84F48:
    Type: String
    Description: S3 key for asset version "a53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3d"
  AssetParametersa53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3dArtifactHash4F51FC43:
    Type: String
    Description: Artifact hash for asset "a53126e0f789825e6ad9a2256b8d2e703ff6538a5392796ed91544cc83d42b3d"
  AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55S3Bucket5B1C9197:
    Type: String
    Description: S3 bucket for asset "fa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55"
  AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55S3VersionKey49B1D922:
    Type: String
    Description: S3 key for asset version "fa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55"
  AssetParametersfa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55ArtifactHash681984E1:
    Type: String
    Description: Artifact hash for asset "fa187f03f534933af1fe191f40139473ab4478637e793ba05178d5b87e811e55"
  AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157S3Bucket33A255BF:
    Type: String
    Description: S3 bucket for asset "c1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157"
  AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157S3VersionKeyCB11BDBD:
    Type: String
    Description: S3 key for asset version "c1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157"
  AssetParametersc1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157ArtifactHash4939C069:
    Type: String
    Description: Artifact hash for asset "c1c4baf242e2d21cd0980f065e45977d21d67969d66c65b70eb86ad401bca157"
  AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bS3Bucket5DC2023B:
    Type: String
    Description: S3 bucket for asset "b5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8b"
  AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bS3VersionKeyC5C8C824:
    Type: String
    Description: S3 key for asset version "b5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8b"
  AssetParametersb5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8bArtifactHash71B9C19A:
    Type: String
    Description: Artifact hash for asset "b5c73b23895759b871613ed1a74d399351a28f4dcb4f5d5aaa46c22984b21c8b"
  AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fS3Bucket323C4FA3:
    Type: String
    Description: S3 bucket for asset "4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231f"
  AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fS3VersionKeyE80844A2:
    Type: String
    Description: S3 key for asset version "4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231f"
  AssetParameters4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231fArtifactHash98BD71E0:
    Type: String
    Description: Artifact hash for asset "4949a0193665ea6e5c348e54e139cc58a9f3add5b01c14c1c4aab491e520231f"
  AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5S3Bucket9E4E501B:
    Type: String
    Description: S3 bucket for asset "3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5"
  AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5S3VersionKey643EF94D:
    Type: String
    Description: S3 key for asset version "3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5"
  AssetParameters3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5ArtifactHash084E1E68:
    Type: String
    Description: Artifact hash for asset "3cf9940b47aafb3bf69a70eef873665266b610b7083f6180d3a0a882d12d69f5"
  AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022S3BucketBF5459F1:
    Type: String
    Description: S3 bucket for asset "5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022"
  AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022S3VersionKey4197D9D7:
    Type: String
    Description: S3 key for asset version "5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022"
  AssetParameters5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022ArtifactHash6EB2B229:
    Type: String
    Description: Artifact hash for asset "5717ad0c7388e4d7c32ce56f5f113cc825a693ced74b2a2037ee40ef0dc22022"

